* {
    box-sizing: border-box;
    margin: 20px;
  }

.TestingTODO{
    background-color: blueviolet;
}


.header-title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.container {
    display: block;
    width: 600px;
    margin: 100px auto 0;
    background-color: aquamarine;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

<<<<<<< Updated upstream
  label[for='myInput'] {
    color: #3fbd05;
    font-weight: 700;
    font-size: 15px;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }


ul{
    margin: 0;
    padding: 0;
    background-color: bisque;
    /*list-style: none;*/

}

li{
    font-weight: 600;
    padding: 0.5rem;
}
=======

  .content input{
    border: none;
    outline: none;
    background: none;
}

.content .text{
  font-size: 1.5rem;
  

}

.content .text:not(:read-only){
  color:blue;

}

.todo-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;

}



#list .content{
  width: 100%;
  background-color: bisque;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
  

}


#list .edit{
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.complete, .delete{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


#bottom{
  margin-top:20px;
  
  background-color: #680747;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  justify-content: space-between;
}
>>>>>>> Stashed changes
