* {
  box-sizing: border-box;
  
}

body{
  margin: 3em;
  position: relative;
  height: 100vh;
  background-color: #141010;
}

#top{
    background-color: #c3195d;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    justify-content: space-between;
}


.header-title{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

#form-new-task{
  display: flex;
}

#item{
  flex: 1 1 0%;
  margin-left: 40px;
  background-color: rgb(244, 247, 248);
  padding:1em;
  border-radius: 1rem;
}

#add{
  font-size: 1rem;
  padding: 1em;
  border-radius: 0.5rem;

}

.list{
  margin: 0;
  }

.todo-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;

}


li{
  width: 100%;
  background-color: bisque;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
  

}

li .edit{
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.complete, .delete{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


#bottom{
  margin-top:20px;
  
  background-color: #680747;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  justify-content: space-between;
}